@charset "UTF-8";
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #2b2a2c;
  margin: 0;
}

img {
  max-width: 100%;
}

.header {
  padding-top: 18px;
}

.container {
  max-width: 1173px;
  margin: 0px auto;
}

/*===burger-menu===*/
.wrap {
  display: none;
  position: relative;
  color: #2B2A2C;
  text-align: center;
  height: 40px;
  width: 300px;
  top: 0%;
  left: 0%;
  z-index: 30;
  outline: none;
}

.wrap #check-menu:checked ~ .burger-menu {
  max-height: 500px;
  font-size: 16px;
}

.wrap #check-menu:checked ~ .first {
  display: none;
}

.wrap #check-menu:checked ~ .second {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.wrap #check-menu:checked ~ .third {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.wrap #check-menu:checked ~ .fourth {
  display: none;
}

.wrap label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  line-height: 35px;
  font-size: 25px;
  text-transform: uppercase;
  border: 1px solid #2B2A2C;
}

.wrap .burger-line {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color: #2B2A2C;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.wrap .second,
.wrap .third {
  top: 18px;
}

.wrap .fourth {
  top: 28px;
}

.wrap .burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.wrap .burger-menu__link {
  width: 100%;
  padding: 10px;
  color: #2B2A2C;
  background-color: transparent;
  display: block;
  text-decoration: none;
}

#check-menu {
  display: none;
}

/*===/burger-menu===*/
.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__logo-avatar {
  width: 57px;
  height: 57px;
  background-color: #2b2a2c;
  border-radius: 50%;
  background: url(http://i12.pixs.ru/storage/0/1/3/logoghostb_5426897_31199013.png) no-repeat center center/cover;
}

.top-header__logo-desc {
  margin-left: 9px;
}

.top-header__logo-desc__name {
  display: block;
  font-size: 16px;
  font-weight: 800;
}

.top-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  line-height: 16.84px;
  letter-spacing: 0.7px;
  color: #2b2a2c;
  margin-right: 34px;
  position: relative;
}

.top-header__menu a::before {
  content: "";
  background: #F38630;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  z-index: -1;
}

.top-header__menu a:hover:before, .top-header__menu a:focus:before {
  -webkit-animation: .5s forwards hover-v linear;
          animation: .5s forwards hover-v linear;
}

.top-header__menu-button {
  font-size: 14px;
  font-weight: 800;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  background-color: transparent;
  border: 2px solid #2b2a2c;
  border-radius: 50px;
  padding: 13px 22px;
  display: inline-block;
  outline: none;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  white-space: normal !important;
  word-wrap: break-word;
}

.top-header__menu-button:hover {
  cursor: pointer;
  color: #F38630;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

@-webkit-keyframes hover-v {
  0% {
    transform: scaleX(0);
    -webkit-transform: scale(0);
    height: 5px;
  }
  45% {
    transform: scaleX(1);
    -webkit-transform: scale(1);
    height: 5px;
  }
  55% {
    height: 5px;
  }
  100% {
    transform: scaleX(1);
    -webkit-transform: scale(1);
    height: 20px;
  }
}

@keyframes hover-v {
  0% {
    transform: scaleX(0);
    -webkit-transform: scale(0);
    height: 5px;
  }
  45% {
    transform: scaleX(1);
    -webkit-transform: scale(1);
    height: 5px;
  }
  55% {
    height: 5px;
  }
  100% {
    transform: scaleX(1);
    -webkit-transform: scale(1);
    height: 20px;
  }
}

@-webkit-keyframes no-hover-v {
  0% {
    transform: scaleX(1);
    -webkit-transform: scale(1);
    height: 55px;
  }
  45% {
    height: 5px;
  }
  55% {
    transform: scaleX(1);
    -webkit-transform: scale(1);
    height: 5px;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    height: 5px;
    opacity: .02;
  }
}

@keyframes no-hover-v {
  0% {
    transform: scaleX(1);
    -webkit-transform: scale(1);
    height: 55px;
  }
  45% {
    height: 5px;
  }
  55% {
    transform: scaleX(1);
    -webkit-transform: scale(1);
    height: 5px;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    height: 5px;
    opacity: .02;
  }
}

.main-header {
  padding-top: 112px;
  padding-bottom: 112px;
  background: url(http://i12.pixs.ru/storage/9/3/8/headerbgpn_7393783_31198938.png) no-repeat right bottom/cover;
}

.main-header-info__subtitle {
  font-size: 32px;
  font-weight: 400;
  line-height: 15px;
}

.main-header-info__title {
  font-size: 45px;
  font-weight: 800;
  line-height: 48px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-header-info__desc {
  font-size: 18px;
  color: #6a696b;
  display: inline-block;
  margin-top: 10px;
}

.main-header-social {
  margin-top: 30px;
}

.main-header-social__icon {
  display: inline-block;
  width: 41px;
  height: 41px;
  margin-right: 10px;
  color: #fff;
  text-align: center;
  line-height: 41px;
  font-size: 23px;
  font-weight: 400;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.main-header-social__icon:hover {
  -webkit-box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.25);
  color: #F38630;
  -webkit-animation-name: Tada;
  animation-name: Tada;
}

.main-header-social .behance-bg {
  background-color: #1869ff;
}

.main-header-social .facebook-bg {
  background-color: #3a5898;
}

.main-header-social .instagram-bg {
  background-color: #13578a;
}

.main-header-social .vk-bg {
  background-color: #56acef;
}

.main-header-button {
  margin-top: 40px;
}

.main-header-button__btn {
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
  color: #6a696b;
  background-color: transparent;
  border: 1px solid #6a696b;
  border-radius: 50px;
  padding: 20px 34px;
  display: inline-block;
  margin-right: 17px;
  margin-bottom: 10px;
}

.main-header-button__btn:hover {
  color: #fff;
  -webkit-box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.25);
  background-color: #2b2a2c;
}

@-webkit-keyframes Tada {
  0% {
    -webkit-transform: scale(1);
  }
  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}

@keyframes Tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

.project {
  padding: 91px 0;
}

.project-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-block-card {
  min-width: 350px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  margin-right: 15px;
  margin-left: 15px;
  position: relative;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.project-block-card:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.4);
  width: 0;
  height: 100%;
  left: 50%;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.project-block-card:hover::before {
  width: 100%;
  left: 0;
}

.project-block-card__img {
  min-height: 250px;
  background-color: #717072;
}

.project-block-card .landing-page {
  background-image: url(https://www.brightedge.com/sites/default/files/landing%20page%20content%20optimization.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.project-block-card .corporate {
  background-image: url(https://wpvortex.com/wp-content/uploads/2017/02/Responsive-Business-WordPress-Themes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.project-block-card .draft-page {
  background-image: url(https://www.marketingdonut.co.uk/sites/default/files/six-ways-to-boost-online-conversions-with-landing-page-optimisation_342353843.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.project-block-card .homayk-page {
  background-image: url(http://www.pvsm.ru/images/2014/12/04/povyshaem-konversiyu-Landing-Page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.project-block-card .jiraf-page {
  background-image: url(https://digitalnews.ru/sites/default/files/images/лендинг_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.project-block-card .gopro-page {
  background-image: url(http://landing.uni.co.ua/wp-content/uploads/2014/07/Снимок-экрана-2015-11-04-в-18.57.16.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.project-block-card .remont-page {
  background-image: url(https://convertmonster.ru/wp-content/uploads/landing-page-remont-kvartir-primer2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.project-block-card .success-page {
  background-image: url(http://www1.unitedgear.ru/img/products/4892-sdelaju-kopiju-i-nastroju-landing-page-odnostranichnika-sajta-vizitki.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.project-block-card .dance-page {
  background-image: url(http://mediadjat.ru/files/products/lkhjggfbfvghj.800x800.png?786c5e4083f49c8cd9cc7e8a4d65f682);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.project-block-card__info {
  padding: 19px 13px;
  background-color: #ffffff;
}

.project-block-card__info-category {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.6px;
  color: #2b2a2c;
}

.project-block-card__info-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  color: #2b2a2c;
  font-size: 16px;
  font-weight: 800;
  line-height: 15px;
  margin-top: 10px;
}

.footer {
  background-color: #2b2a2c;
  padding: 20px 0;
  color: #8d8d8e;
}

.footer a {
  color: #8d8d8e;
  text-decoration: none;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-info__text-copyright {
  padding-right: 16px;
  margin-right: 16px;
  border-right: 1px solid #413f41;
  font-size: 14px;
}

.footer-info__text-social {
  font-size: 20px;
  margin-right: 13px;
}

.footer-info__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info__menu a {
  font-size: 14px;
  display: inline-block;
  margin-right: 30px;
}

.footer-info__button {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #6a696b;
  background-color: transparent;
  border: 1px solid #8d8d8e;
  border-radius: 50px;
  padding: 8px 22px;
  display: inline-block;
}

@media (max-width: 1200px) {
  .container {
    width: 965px;
  }
  .project-card {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 750px;
  }
  .top-header__logo-desc__small {
    font-size: 10px;
  }
  .main-header {
    padding-bottom: 550px;
    padding-top: 30px;
  }
  .top-header__menu {
    display: none;
  }
  .wrap {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */